
@media (max-width: 767px) {
  .login-form {
    margin: 0 auto;
    text-align: center;
    width: 320px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .login-form {
    margin: 0 auto;
    text-align: center;
    width: 320px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .login-form {
    margin: 0 auto;
    text-align: center;
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .login-form {
    margin: 0 auto;
    text-align: center;
    width: 700px;
  }
}
